body.flyout-menu {
  --mobile-width: 20rem;
  --background-color: #4a4a4a;
  --link-color: #ffffff;
  --border-color: #ffffff;
  transition: transform 0.25s;

  .flyout-menu-wrapper {
    ul {
      list-style: none;
      padding: 0;

      li {
        a {
          text-decoration: none;
        }
      }
    }
  }

  #flyout-menu-offcanvas {
    display: none;
    position: absolute;
    top: 0;
    width: var(--mobile-width);
    height: 100vh;
    background-color: var(--background-color);
    z-index: 99;

    ul {
      margin: 1rem 2rem;

      li {
        border-bottom: 1px solid var(--border-color);
        padding: 0.75rem 0;

        &:last-child {
          border-bottom: 0;
        }

        a {
          color: var(--link-color);
        }

        .sub-menu-toggle {
          display: block;
          clear: both;
          float: right;
          width: 24px;
          height: 24px;
          background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"%3E%3Cpath fill="%23fff" d="M 22.800781 9 L 15 9 L 15 1.199219 C 15 0.539062 14.460938 0 13.800781 0 L 10.199219 0 C 9.539062 0 9 0.539062 9 1.199219 L 9 9 L 1.199219 9 C 0.539062 9 0 9.539062 0 10.199219 L 0 13.800781 C 0 14.460938 0.539062 15 1.199219 15 L 9 15 L 9 22.800781 C 9 23.460938 9.539062 23.996094 10.199219 24 L 13.800781 24 C 14.460938 24 15 23.460938 15 22.800781 L 15 15 L 22.800781 15 C 23.460938 14.996094 23.996094 14.460938 24 13.800781 L 24 10.199219 C 24 9.539062 23.460938 9.003906 22.800781 9 Z M 22.800781 9 "/%3E%3C/svg%3E');
          background-position: 50%;
          background-size: 0.75rem;
          background-repeat: no-repeat;
          cursor: pointer;
        }
      }

      .sub-menu {
        display: none;
        list-style: none;
        padding: 0;
        margin-left: 2rem;
        margin-bottom: 1rem;

        li {
          border-bottom: 0;
          padding: 0.25rem 0;
        }
      }

      .sub-menu-open {
        .sub-menu-toggle {
          background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"%3E%3Cpath fill="%23fff" d="M 22.800781 9 C 23.460938 9 24 9.539062 24 10.199219 L 24 13.800781 C 24 14.460938 23.460938 15 22.800781 15 L 1.199219 15 C 0.539062 15 0.00390625 14.460938 0 13.800781 L 0 10.199219 C 0.00390625 9.539062 0.539062 9.003906 1.199219 9 Z M 22.800781 9 "/%3E%3C/svg%3E');
        }

        .sub-menu {
          display: block;
        }
      }
    }
  }

  #flyout-menu-horizontal {
    ul {
      border-bottom: 1px solid #4a4a4a;
      z-index: 9;

      li {
        display: inline-block;
        position: relative;
        line-height: 3rem;
        padding: 0 0.5rem;

        ul {
          display: none;
          position: absolute;
          top: 3rem;
          left: 0;
          background-color: #ffffff;
          border: 0;
          box-shadow: 0 5px 30px #efefef, 0 10px 20px #efefef;
          min-width: 225px;
          height: auto;

          li {
            display: block;
            border-bottom: 1px solid #efefef;
            font-size: 0.9rem;
            line-height: initial;
            padding: 0.5rem 1rem;

            a {
              display: block;
              padding: 0.25rem 0.5rem;
            }

            &:hover {
              background-color: #efefef;
            }
          }
        }

        &:hover {
          ul {
            display: block;
          }
        }
      }
    }
  }

  &.flyout-menu-mobile {
    &.flyout-menu-open {
      &.flyout-menu-left {
        transform: translateX(calc(var(--mobile-width)));
        overflow: hidden;

        #flyout-menu-offcanvas {
          left: calc(var(--mobile-width) * -1);
        }
      }

      &.flyout-menu-right {
        transform: translateX(calc(var(--mobile-width) * -1));
        overflow: hidden;

        #flyout-menu-offcanvas {
          right: calc(var(--mobile-width) * -1);
        }
      }

      #flyout-menu-offcanvas {
        display: block;
      }
    }

    #flyout-menu-horizontal {
      display: none;
    }
  }
}
