.flyout-menu-toggle {
  --color: #000;
  --open-color: #000;
  --hover-opacity: 0.7;
  display: inline-block;
  background-color: transparent;
  border: 0;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  margin: 0;
  overflow: visible;
  cursor: pointer;

  &:hover {
    opacity: var(--hover-opacity);
  }

  .toggle-wrapper {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative;

    .toggle,
    .toggle::before,
    .toggle::after {
      width: 40px;
      height: 4px;
      background-color: var(--color);
      border-radius: 4px;
      position: absolute;
      transition-property: transform;
      transition-duration: 0.15s;
      transition-timing-function: ease;
    }

    .toggle {
      display: block;
      top: 50%;
      transition-duration: 0.22s;
      transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
      margin-top: -2px;

      &::before,
      &::after {
        content: "";
        display: block;
      }

      &::before {
        top: -10px;
        transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
      }

      &::after {
        bottom: -10px;
        transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
      }
    }
  }

  &.is-open {
    &:hover {
      opacity: var(--hover-opacity);
    }

    .toggle {
      background-color: var(--open-color);
      transform: rotate(225deg);
      transition-delay: 0.12s;
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

      &::before {
        background-color: var(--open-color);
        top: 0;
        opacity: 0;
        transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
      }

      &::after {
        background-color: var(--open-color);
        bottom: 0;
        transform: rotate(-90deg);
        transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
      }
    }
  }
}

body:not(.flyout-menu-mobile) {
  .flyout-menu-toggle-block {
    display: none;
  }
}
